body { 
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
  }

  .board-container {
    display:inline-block;
    background-color: rgb(98, 79, 130);
    margin: 10px;
    justify-items: center;
    align-items: center;
    border-radius: 10px;
    color: rgb(36, 34, 59);;
  }
  
  ol, ul {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    border: 1px solid rgb(36, 34, 59);
    float: right;
    font-size: 24px;
    font-weight: bold;
    justify-items: center;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
  }
  
  .blackSquare {
    background: rgb(36, 34, 59);
  }

  .whiteSquare {
    background: rgb(163, 199, 214);
  }

  .selectedSquare {
    background: rgb(242, 247, 161);
  }

  .pieceBlack {
    color: rgb(98, 79, 130);
  }

  .pieceRed {
    color: rgb(156, 37, 77);
  }

  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: row;
  }
  
  .game-info {
    margin-left: 20px;
  }
  