/* Styles the Profile page */

h1{
    margin: 0;
    padding: 0;
}

/* These classes organize the divs and text on the page */
.profile-container{
    height:100%;
    display: flex;
    justify-content: space-around;
    width: clamp(200px, 50% ,1000px);
    align-items: stretch;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: rgb(159, 115, 171);
}

.profile-stats{
    width: clamp(200px, 70% ,600px);
    margin: 10px;
    border-radius: 10px;
    background-color: rgb(163, 199, 214);
    min-height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: max(3vw, 20px);
}

.user{
    width: clamp(100px, 50% ,50px);
    margin: 10px;
    border-radius: 10px;
    background-color: rgb(163, 199, 214);
    min-height: 50%;
    font-size: max(2vw, 10px);
    text-align: center;
}
