/* Styles the lighter purple div on the Title page, Login page, and Register page */
.formContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: clamp(200px, 50% ,1000px);
    margin: 10px;
    border-radius: 10px;
    background-color: rgb(159, 115, 171);
    min-height: 50%;
    text-align: center;
    font-size: max(3vw, 20px);
}


