.profile-container{
    height:100%;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    margin-right: 10px;
    border-radius: 10px;
    background-color: rgb(228, 120, 32);
}

.profile{
    width: 50%;
    margin: 10px;
    border-radius: 10px;
    background-color: blueviolet;
    min-height: 50%;
    text-align: center;
}

.profile-stats{
    
}

.profile-friends{
    
}